<!doctype html>
<title>WISCI Distillery</title>
<h1>Extrapolation</h1>
<section>
  <h2>Input</h2>
  </section>
<form method=post action="">
<table>
 {% for field in form %}
  <tr>
  <td>{{ field }}</td>
  <td>{{ field.label }}</td>
  </tr>
 {% endfor %} 
</table>
<p><input type=submit value=Submit></form></p>        

{% if extrapolate_plot != None %}
<section>
  <h2>Output</h2>
<img src="data:image/svg+xml;base64, {{ extrapolate_plot }}" alt="Plot of wavelength vs. optical constants n,k extrapolated from raw data">
{% endif %}

{% if filename != None %}
<section>
  <h2>Download</h2>
<form action={{ url_for('download_file',name=filename) }}>
    <input type="submit" value="Download" />
</form>
{% endif %}

  </section>



