<!doctype html>
<title>WISCI Distillery</title>
<h1>Plotting</h1>
<section>
  <h2>Input</h2>
  </section>
<form method=post action="">
<table>
 {% for field in form %}
  <tr>
  <td>{{ field }}</td>
  <td>{{ field.label }}</td>
  </tr>
 {% endfor %} 
</table>
<p><input type=submit value=Submit></form></p>        


<section>
  <h2>Output</h2>
{% if plot_url != None %}
<img src="data:image/svg+xml;base64, {{ plot_url }}" alt="Plot of wavelength vs. optical constants n,k">

<table>
 {% for key, value in values.items() %}
  <tr>
  {% if key != "n" and key != "k" and key != "wavelength" %}
    <td>{{ key }}</td>
    {% if key == 'temperature' %}
        <td> {{ value }} K <td> 
    {% elif key == 'density' %}
        <td> {{ value }} gcm^-3 <td> 
    {% else %}
        <td>{{ value }}</td>
    {% endif %}
  {% endif %}
 {% endfor %} 
  </tr>
</table>


{% if filename != None %}
  <form action={{ url_for('download_file',name=filename) }}>
    <input type="submit" value="Download raw data" />
  </form>
{% endif %}

{% endif %}
</section>



