<!doctype html>
<title>WISCI Distillery</title>
<section>
  <h2>Input</h2>
  </section>
<form method=post action="">
<table>
 {% for field in form %}
  <tr>
  <td>{{ field }}</td>
  <td>{{ field.label }}</td>
  </tr>
 {% endfor %} 
</table>
<p><input type=submit value=Submit></form></p>        

{% if filename != None %}


<form action={{ url_for('download_file',name=filename) }}>
    <input type="submit" value="Download raw data" />
</form>

{% endif %}


<section>
  <h2>Output</h2>
{% if plot_url != None %}
<img src="data:image/svg+xml;base64, {{ plot_url }}" alt="Plot of wavelength vs. optical constants n,k">
<table>
 {% for value in values %}
  <tr>
  <td>{{ value }}</td>
  </tr>
 {% endfor %} 
</table>
{% endif %}
  </section>



